{% extends 'base.html.twig' %}
{% block body %}

    {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey }}
            </div>
    {% endif %}

        <div class="row">
            <form class="form-horizontal" action="{{ path('security_login') }}" method="post" autocomplete="on">
                <div class="col-md-offset-2 col-md-8 text-center">
                    <div class="panel-group">
                        <div class="panel panel-default">
                        <div class="panel-heading">
                            Login
                        </div>

                        <div class="panel-body">

                            <div class="form-group">
                                <label class="control-label col-sm-2" for="_email">Email:</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" name="_username" placeholder="Enter email">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-2" for="_password">Password:</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" name="_password" placeholder="Enter password">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="checkbox">
                                    <label for="_remember_me"><input id="_remember_me" type="checkbox" checked name="_remember_me"> Remember me</label>
                                </div>
                            </div>

                        </div>

                            <div class="panel-footer">
                                <button type="submit" class="btn btn-primary center-block">Submit</button>
                            </div>  
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>

{% endblock %}