{% extends 'base.html.twig' %}
{% block body %}
    <div class="row">
    {{ form_start(form) }}
    <div class="col-md-offset-2 col-md-8">
        <div class="panel-group">
            <div class="panel panel-default">

                <div class="panel-heading text-center">
                    Register
                </div>

                <div class="panel-body">
                    {{ form_row(form.username) }}
                    {{ form_row(form.email) }}
                    {{ form_row(form.password.first) }}
                    {{ form_row(form.password.second) }}
                </div>

                <div class="panel-footer">
                    <button type="submit" class="btn btn-primary center-block"> Submit </button>
                </div>

            </div>
    </div>
    {{ form_end(form) }}

    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .panel-body {
            padding: 30px;
        }
    </style>
{% endblock %}