<div class="row">
<footer>

        <div id="footer">
            <div class="social-networks center-block">

                <a href="https://github.com/pietrqu" class="github" target="_blank">
                    <i class="fa fa-github" aria-hidden="true"></i>
                </a>
            </div>
        </div>


</footer>
</div>
