<nav id="nav" class="navbar navbar-default ">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="navbar-brand" class="navbar-brand" href="{{ path('index') }}">{{ app_name }}</a>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
            <ul id="nav" class="nav navbar-nav">
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') or is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li><a href="{{ path('user_dashboard_Index') }}">Home</a></li>
                {% else %}
                    <li><a href="{{ path('index') }}">Home</a></li>
                {% endif %}

            </ul>
            <ul id="nav" class="nav navbar-nav navbar-right">
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') or is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                           Welcome {{ app.user.username }} <span class="caret"></span>
                        </a>
                        <ul id="navbar" class="dropdown-menu">
                            <li><a href="{{ path('user_profile') }}"><span class="glyphicon glyphicon-user"></span> Profile </a></li>
                            <li><a href="{{ path('security_logout') }}"><span class="glyphicon glyphicon-log-out"></span> Logout </a></li>
                            <li><a href="{{ path('user_dashboard_Index') }}"><span class="glyphicon glyphicon-dashboard"></span> Dashboard </a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{{ path('security_registration') }}"><span class="glyphicon glyphicon-user"></span> Register </a></li>
                    <li><a href="{{ path('security_login') }}"><span class="glyphicon glyphicon-log-in"></span> Login </a></li>
                {% endif %}
            </ul>
        </div>
</nav>