/*body {*/
    /*font-family: 'Nunito', sans-serif;*/
/*}*/


.btn, .btn:hover {
    border-color: rgba(0, 0, 0, 0.15);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}


.btn-outline-default {
    background: #383f48;
    color: white;

}

.btn-outline-default:hover, .btn-outline-default:focus, .btn-outline-default.focus {

    background-color: #657282;
    color: white;
}

.btn-outline-primary {
    color: #7460ee;
    /*background-color: #ffffff;*/
    /*border-color: #7460ee;*/
}

.btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary.focus {
    background: rgba(116, 96, 238, 0.15);
    /*color: #ffffff;*/
    border-color: #7460ee;
}

.btn-outline-success {
    color: #55ce63;
    background-color: transparent;

}

.btn-outline-success:hover, .btn-outline-success:focus, .btn-outline-success.focus {
    /*background: rgba(85, 206, 99, 0.15);*/
    /*border-color: #55ce63;*/
    color: #55ce63;
}




.btn-outline-success-active-normal {
    background: rgba(85, 206, 99, 0.15);
    color: #55ce63;
    border-color: #55ce63;

    border-left-width: 4px;
    border-right-width: 4px;
    border-top-width: 0px;
    border-bottom-width: 0px;
}


.btn-outline-success-active-normal:hover, .btn-outline-success-active-normal:focus, btn-outline-success-active-normal.focus {
    background: rgba(85, 206, 99, 0.15);
    border-color: #55ce63;
    color: #55ce63;

    border-left-width: 4px;
    border-right-width: 4px;
    border-top-width: 0px;
    border-bottom-width: 0px;
}


.btn-outline-dark {
    background: rgba(85, 206, 99, 0.15);
    color: #000000;
    border-color: #0a160a;

    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 4px;
}



.btn-outline-dark-filled {
    background: #000000;
    color: #f5d13b;
    border-color: #0a160a;

    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 4px;
}


.btn-outline-success-active-ban {
    background: rgba(85, 206, 99, 0.15);
    color: #55ce63;
    border-color: #55ce63;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;

    border-radius: 30%;
}

.btn-outline-success-active-ban:hover, .btn-outline-success-active-ban:focus, .btn-outline-success-active-ban.focus {
    background: rgba(85, 206, 99, 0.25);
    border-color: #55ce63;
    color: #55ce63;
}



.btn-outline-success-active {
    background: rgba(85, 206, 99, 0.15);
    color: #55ce63;
    border-color: #55ce63;
    border-left-width: 4px;
    border-right-width: 4px;
    border-top-width: 0px;
    border-bottom-width: 0px;

    border-radius: 30%;

    /*!* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#55ce63+0,4dcc53+41,4dcc53+59,55ce63+100&0.93+0,0.17+51,1+100 *!*/
    /*background: -moz-linear-gradient(left, rgba(85,206,99,0.93) 0%, rgba(77,204,83,0.32) 41%, rgba(77,204,83,0.17) 51%, rgba(77,204,83,0.31) 59%, rgba(85,206,99,1) 100%); !* FF3.6-15 *!*/
    /*background: -webkit-linear-gradient(left, rgba(85,206,99,0.93) 0%,rgba(77,204,83,0.32) 41%,rgba(77,204,83,0.17) 51%,rgba(77,204,83,0.31) 59%,rgba(85,206,99,1) 100%); !* Chrome10-25,Safari5.1-6 *!*/
    /*background: linear-gradient(to right, rgba(85,206,99,0.93) 0%,rgba(77,204,83,0.32) 41%,rgba(77,204,83,0.17) 51%,rgba(77,204,83,0.31) 59%,rgba(85,206,99,1) 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed55ce63', endColorstr='#55ce63',GradientType=1 ); !* IE6-9 *!*/


}



.btn-outline-success-active:hover, .btn-outline-success-active:focus, .btn-outline-success-active.focus {
    background: rgba(85, 206, 99, 0.25);
    border-color: #55ce63;
    color: #55ce63;
}

.btn-outline-success-active-info {
    background: rgba(85, 206, 99, 0.15);
    color: #55ce63;
    border-color: #2d6e35;
    border-left-width: 4px;
    border-right-width: 4px;
    border-top-width: 0px;
    border-bottom-width: 0px;

    border-radius: 30%;

    /*!* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#55ce63+0,4dcc53+41,4dcc53+59,55ce63+100&0.93+0,0.17+51,1+100 *!*/
    /*background: -moz-linear-gradient(left, rgba(85,206,99,0.93) 0%, rgba(77,204,83,0.32) 41%, rgba(77,204,83,0.17) 51%, rgba(77,204,83,0.31) 59%, rgba(85,206,99,1) 100%); !* FF3.6-15 *!*/
    /*background: -webkit-linear-gradient(left, rgba(85,206,99,0.93) 0%,rgba(77,204,83,0.32) 41%,rgba(77,204,83,0.17) 51%,rgba(77,204,83,0.31) 59%,rgba(85,206,99,1) 100%); !* Chrome10-25,Safari5.1-6 *!*/
    /*background: linear-gradient(to right, rgba(85,206,99,0.93) 0%,rgba(77,204,83,0.32) 41%,rgba(77,204,83,0.17) 51%,rgba(77,204,83,0.31) 59%,rgba(85,206,99,1) 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed55ce63', endColorstr='#55ce63',GradientType=1 ); !* IE6-9 *!*/


}



.btn-outline-success-active-info:hover, .btn-outline-success-active-info:focus, .btn-outline-success-active-info.focus {
    background: rgba(85, 206, 99, 0.15);
    border-color: #2d6e35;
    color: #55ce63;
}

.btn-outline-success-active-ramka {
    background: rgba(85, 206, 99, 0.05);
    color: #55ce63;
    border-color: #55ce63;
}



.btn-outline-info {
    color: #009efb;
    background-color: transparent;
    /*border-color: #009efb;*/
}

.btn-outline-info:hover, .btn-outline-info:focus, .btn-outline-info.focus {
    background: rgba(0, 158, 251, 0.15);
    border-color: #009efb;
    color: #009efb;
}


.btn-outline-info-active-normal-nh {
    color: #009efb;
    background: rgba(0, 158, 251, 0.10);
    border-color: #009efb;

    border-left-width: 4px;
    border-right-width: 4px;
    border-top-width: 0px;
    border-bottom-width: 0px;

    border-radius: 0%;
}

.btn-outline-info-active {
    color: #009efb;
    background: rgba(0, 158, 251, 0.10);
    border-color: #009efb;

    border-left-width: 4px;
    border-right-width: 4px;
    border-top-width: 0px;
    border-bottom-width: 0px;
}

.btn-outline-info-active:hover, .btn-outline-info-active:focus, .btn-outline-info-active.focus {
    background: rgba(0, 158, 251, 0.2);
    border-color: #009efb;
    color: #009efb;
}


.btn-outline-aqua  {
    color: #00c0ef;
    background-color: transparent;
}

.btn-outline-aqua:hover, .btn-outline-aqua:focus, .btn-outline-aqua.focus {
    background: rgba(0, 192, 239, 0.15);
    border-color: #00c0ef;
    color: #00c0ef;
}

.btn-outline-aqua-active  {
    color: #00c0ef;
    background: rgba(0, 192, 239, 0.05);
    border-color: #00c0ef ;

    border-left-width: 4px;
    border-right-width: 4px;
    border-top-width: 0px;
    border-bottom-width: 0px;
}

.btn-outline-aqua-active:hover, .btn-outline-aqua-active:focus, .btn-outline-aqua-active.focus {
    background: rgba(0, 192, 239, 0.15);
    border-color: #00c0ef;
    color: #00c0ef;
}

.btn-outline-warning {
     color: #ffbc34;
     background-color: transparent;
     /*border-color: #ffbc34;*/
 }

.btn-outline-warning:hover, .btn-outline-warning:focus, .btn-outline-warning.focus {
    background: rgba(255, 188, 52, 0.15);
    border-color: #ffbc34;
    color: #ffbc34;
}



.btn-outline-warning-active-notmal-nh {
    color: #ffbc34;
    background: rgba(255, 188, 52, 0.05);
    border-color: #ffbc34;

    border-left-width: 4px;
    border-right-width: 4px;
    border-top-width: 0px;
    border-bottom-width: 0px;

}

.btn-outline-warning-active-notmal-nh:hover, .btn-outline-warning-active-notmal-nh:focus, .btn-outline-warning-active-notmal-nh.focus {
    background: rgba(255, 188, 52, 0.05);
    border-color: #ffbc34;
    color: #ffbc34;
}



.btn-outline-warning-active {
    color: #ffbc34;
    background: rgba(255, 188, 52, 0.05);
    border-color: #ffbc34;

    border-left-width: 4px;
    border-right-width: 4px;
    border-top-width: 0px;
    border-bottom-width: 0px;

}



.btn-outline-warning-active:hover, .btn-outline-warning-active:focus, .btn-outline-warning-active.focus {
    background: rgba(255, 188, 52, 0.15);
    border-color: #ffbc34;
    color: #ffbc34;
}



.btn-outline-danger {
    color: #f62d51;
    background-color: transparent;
    /*border-color: #f62d51;*/


}

.btn-outline-danger:hover, .btn-outline-danger:focus, .btn-outline-danger.focus {
    /*background: rgba(246, 45, 81, 0.15);*/
    /*border-color: #f62d51;*/
    color: #f62d51;
}


.btn-outline-danger-nobg {
    color: #f62d51;
    background-color: transparent;
    /*border-color: #f62d51;*/
}

.btn-outline-danger-nobg:hover, .btn-outline-danger-nobg:focus, .btn-outline-danger-nobg.focus {
    background: transparent;
    border-color: #f62d51;
    color: #f62d51;
}


.btn-outline-danger-active-ban {
    color: #f62d51;
    background: rgba(246, 45, 81, 0.05);
    border-color: #f62d51;

    border-left-width: 0px;
    border-right-width: 0px;

    border-top-width: 0px;
    border-bottom-width: 0px;
}

.btn-outline-danger-active-ban:hover, .btn-outline-danger-active-ban:focus, .btn-outline-danger-active-ban.focus {
    color: #f62d51;
    background: rgba(246, 45, 81, 0.05);
}

.btn-outline-danger-active {
    color: #f62d51;
    color: #f62d51;
    background: rgba(246, 45, 81, 0.05);
    border-color: #f62d51;

    border-left-width: 4px;
    border-right-width: 4px;
    border-top-width: 0px;
    border-bottom-width: 0px;
}

.btn-outline-danger-active:hover, .btn-outline-danger-active:focus, .btn-outline-danger-active.focus {
    background: rgba(246, 45, 81, 0.15);
    border-color: #f62d51;
    color: #f62d51;
}


.btn-outline-danger-active-info {
    color: #f62d51;
    background: rgba(246, 45, 81, 0.05);
    border-color: #86192c;

    border-left-width: 4px;
    border-right-width: 4px;
    border-top-width: 0px;
    border-bottom-width: 0px;
}

.btn-outline-danger-active-info:hover, .btn-outline-danger-active-info:focus, .btn-outline-danger-active-info.focus {
    background: rgba(246, 45, 81, 0.05);
    border-color: #86192c;
    color: #f62d51;
}

.btn-outline-red {
    color: #fb3a3a;
    background-color: transparent;
    border-color: #fb3a3a;
}

.btn-outline-red:hover, .btn-outline-red:focus, .btn-outline-red.focus {
    background: #fb3a3a;
    border-color: #fb3a3a;
    color: #fb3a3a;
}

.btn-outline-inverse {
    color: #2f3d4a;
    background-color: transparent;
    border-color: #2f3d4a;
}

.btn-outline-inverse:hover, .btn-outline-inverse:focus, .btn-outline-inverse.focus {
    background: #2f3d4a;
    border-color: #2f3d4a;
    color: #ffffff;
}

.btn-outline-teal {
    background-color: transparent;
    color: #39cccc;
    border-color: #39cccc;

    border-left-width: 4px;
    border-right-width: 4px;
    border-top-width: 0px;
    border-bottom-width: 0px;
}

.btn-transparent-teal {
    background-color: transparent;
    color: #39cccc;
}

.btn-outline-teal:hover, .btn-outline-teal:focus, .btn-outline-teal.focus {
background-color: rgba(57, 204, 204, 0.15);
    color: #39cccc;
    border-color: #39cccc;
}

.bg-olive {
    background-color: #3d9970
}

.bg-lime {
    background-color: #01ff70
}

.bg-orange {
    background-color: #ff851b
}

.btn-outline-fuchsia {
    background-color: transparent;
    color: #f012be;
    border-color: #f012be;
}

.btn-outline-purple-active-normal-nh {
    background-color: rgba(127, 123, 212, 0.10);
    color: #7f7bd4;
    border-color:  #7f7bd4;

    border-left-width: 4px;
    border-right-width: 4px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-radius: 0%;

}


.btn-outline-purple-active {
    background-color: rgba(127, 123, 212, 0.10);
    color: #7f7bd4;
    border-color:  #7f7bd4;

    border-left-width: 4px;
    border-right-width: 4px;
    border-top-width: 0px;
    border-bottom-width: 0px;

    border-radius: 30%;
}

.btn-outline-purple-active:hover, .btn-outline-purple-active:focus, .btn-outline-purple-active.focus {
    background-color: rgba(127, 123, 212, 0.2);
    color: #7f7bd4;
    border-color: #918dec;
}

.btn-outline-purple {
    background-color: transparent;
    color: #7f7bd4;

}

.btn-outline-purple:hover, .btn-outline-purple:focus, .btn-outline-purple.focus {
    background-color: rgba(127, 123, 212, 0.15);
    color: #7f7bd4;
    border-color:  #7f7bd4;
}

.btn-outline-maroon {
    background-color: transparent;
    color: #d81b60;

}

.btn-outline-maroon:hover, .btn-outline-maroon:focus, .btn-outline-maroon.focus {
    /*border-color: #d81b60;*/
    /*background-color: rgba(216, 27, 96, 0.15);*/
    color: #d81b60;
}



.btn-outline-maroon-active-normal-nh {
    background-color: rgba(216, 27, 96, 0.05);
    color: #d81b60;
    border-color: #d81b60;

    border-left-width: 4px;
    border-right-width: 4px;
    border-top-width: 0px;
    border-bottom-width: 0px;

    border-radius: 0%;

}


.btn-outline-maroon-active {
    color: #d81b60;
    border-color: #d81b60;

    /*border-left-width: 4px;*/
    /*border-right-width: 4px;*/
    /*border-top-width: 0px;*/
    /*border-bottom-width: 0px;*/

    /*border-radius: 30%;*/
    background-color: rgba(216, 27, 96, 0.15);
    border-color: #d81b60 !important;
    border-style: solid !important;

}

.btn-outline-maroon-active:hover, .btn-outline-maroon-active:focus, .btn-outline-maroon-active.focus {
    border-color: #d81b60;
    background-color: rgba(216, 27, 96, 0.67);
    color: #fde1e1;
}



.btn-outline-lime3-active-normal {
    background-color: rgba(0, 216, 215, 0.05);
    color: #d8cf3b;
    border-color: #d8ca08;

    border-left-width: 4px;
    border-right-width: 12px;
    border-top-width: 1px;
    border-bottom-width: 1px;

    background-color: rgba(206, 216, 33, 0.15);

border-bottom-right-radius: 40%;
    border-top-right-radius: 40%;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
}

.btn-outline-lime3-active-normal:hover, .btn-outline-lime3-active-normal:focus, .btn-outline-lime3-active-normal.focus {
    border-color: #d8d305;
    background-color: rgba(206, 216, 33, 0.15);
    color: #d8ca08;
}

.btn-outline-lime3-active-normal-no-bullet {
    background-color: rgba(0, 216, 215, 0.05);
    color: #d8cf3b;
    border-color: #d8ca08;

    border-left-width: 4px;
    border-right-width: 12px;
    border-top-width: 1px;
    border-bottom-width: 1px;

    background-color: rgba(206, 216, 33, 0.15);

    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.btn-outline-lime3-active-normal-no-bullet:hover, .btn-outline-lime3-active-normal-no-bullet:focus, .btn-outline-lime3-active-normal-no-bullet.focus {
    border-color: #d8d305;
    background-color: rgba(206, 216, 33, 0.15);
    color: #d8ca08;
}

.btn-outline-lime4-active-normal {
    background-color: rgba(0, 216, 215, 0.05);
    color: #b4ab3a;
    border-color: #c8ba08;

    border-left-width: 4px;
    border-right-width: 12px;
    border-top-width: 1px;
    border-bottom-width: 1px;

    background-color: rgba(206, 216, 33, 0.15);

    border-bottom-right-radius: 40%;
    border-top-right-radius: 40%;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
}

.btn-outline-lime4-active-normal:hover, .btn-outline-lime4-active-normal:focus{
    border-color: #a89a08;
    background-color: rgba(206, 216, 33, 0.15);
    color: #a89a08;
}


.bg-gray-active {
    color: #000;
    background-color: #b5bbc8
}

.bg-black-active {
    background-color: #000
}

.bg-red-active, .modal-danger .modal-header, .modal-danger .modal-footer {
    background-color: #d33724
}

.bg-yellow-active, .modal-warning .modal-header, .modal-warning .modal-footer {
    background-color: #db8b0b
}

/*//FORMS*/


.form-control {
    background-color: #25292e;
    color: #c3932f;
    border-color: #4b4b3a;

    color: #00ff00;
    opacity: 1;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


label {
    font-weight: lighter;
    color: #c3c294;
}

.navbar-nav > .user-menu > .dropdown-menu > .user-footer {
    background-color: #474c51;
    padding: 10px;
    min-width: 300px;
}

.navbar-nav > .user-menu > .dropdown-menu > .user-footer .btn-default {
    color: #de1515;
}



/*FORMS OVERLAY*/
.form-control[disabled], .form-control[readonly], fieldset[disabled] {
    background-color: transparent;
    border-color: transparent;
    color: #00ff00;
    opacity: 1;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    /*background-color: transparent;*/
    /*width: 368px;*/
    /*padding: 5px;*/
    /*font-size: 16px;*/
    /*line-height: 1;*/
    /*border: 0;*/
    /*border-radius: 5px;*/
    /*height: 34px;*/
    /*background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right;*/
    /*background: transparent;*/
    /*-webkit-appearance: none;*/
    /*background-position-x: 344px;*/



}

/*select, select[multiple] {*/

/*}*/

/*select:hover {*/
    /*color: #c9d940;*/
    /*background-color: black;*/
    /*background: rgba(49, 152, 221, 0.28);*/
/*}*/


select, select[multiple]{
    color: #00cc00;
}

body {
    letter-spacing: 0.35px
}


 .ob-text {
     color: #babec2;!important;
     text-shadow: 0px 0px 2px rgb(7, 14, 14);!important;
 }

.ob-right {
    text-align: right;
}

.ob-left {
    text-align: left;
}
/*select {*/
    /*-webkit-appearance: none;*/
    /*-moz-appearance: none;*/
    /*appearance: none;*/
    /*!* Some browsers will not display the caret when using calc, so we put the fallback first *!*/
    /*background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/white/16x16/br_down.png") transparent no-repeat 98.5% !important; !* !important used for overriding all other customisations *!*/
    /*background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/white/16x16/br_down.png") transparent no-repeat calc(100% - 10px) !important; !* Better placement regardless of input width *!*/
/*}*/

.popup-bg-big {
    background-color: rgba(46,42,47,0.9);
    border:salmon solid 1px;
    border-radius: 15px;
    padding: 25px;
}

.popup-bg-small {
    background-color: rgba(46,42,47,0.9);
    border:salmon solid 1px;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
}





/*.bgimg4 {*/
    /*background-image: url({{ asset('images/quakec/dm61.jpg') }});*/
/*min-height: 100%;*/
/*min-width: 100%;*/
/*background-position: center;*/
/*background-size: cover;*/
/*position: fixed;*/
/*z-index: 1000;*/
/*}*/

.whohelped {
    margin-left: 30px;
    top: 130px;
    right: 120px;
    position: relative;
    color: #000;
    width: 320px;
    min-height: 100px;
}



.bg01-light-bliue {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#209aca+0,7ecee8+95,16b5e5+100 */
    background: #209aca; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #209aca 0%, #7ecee8 95%, #16b5e5 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #209aca 0%,#7ecee8 95%,#16b5e5 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #209aca 0%,#7ecee8 95%,#16b5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#209aca', endColorstr='#16b5e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.bg03-red-dark {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#35010d+0,2d010b+44,220008+100 */
    background: #35010d; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #35010d 0%, #2d010b 44%, #220008 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #35010d 0%,#2d010b 44%,#220008 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #35010d 0%,#2d010b 44%,#220008 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35010d', endColorstr='#220008',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.bg03-red {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#600218+0,530114+44,3e000e+100 */
    background: rgba(96, 2, 24, 0.38); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, rgba(96, 2, 24, 0.65) 0%, rgba(83, 1, 20, 0.5) 44%, rgba(62, 0, 14, 0.25) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(96, 2, 24, 0.65) 0%, rgba(83, 1, 20, 0.5) 44%, rgba(62, 0, 14, 0.26) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(96, 2, 24, 0.65) 0%, rgba(83, 1, 20, 0.5) 44%, rgba(62, 0, 14, 0.25) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#600218', endColorstr='#3e000e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.ticket-bg04 {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.bgdefault {
    background-color: rgba(78,78,73,0.84);
    color: white;!important;
}

.tenpixHi {
    margin-top: 10px;
    margin-bottom: 10px;
}

.tenpixWi {
    margin-top: 10px;
    margin-bottom: 10px;
}


.komunikat {
    top: 300px;
    left: 35px;
    position: fixed;
    /*color: #000;*/
    width: auto;
    height: auto;
    color: white;
    background-color: rgba(0, 0, 0, 0.54);
    padding: 15px;
}


.discordChanells1 {
    top: 130px;
    right: 420px;
    position: fixed;
    /*color: #000;*/
    width: auto;
    height: auto;
}

.discordChanells2 {
    top: 365px;
    right: 420px;
    position: fixed;
    /*color: #000;*/
    width: auto;
    height: auto;
}

.discordChanells3 {
    top: 600px;
    right: 420px;
    position: fixed;
    /*color: #000;*/
    width: auto;
    height: auto;
}

.transparentMy {
    background-color: Transparent;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.fakeHeight {
    min-height: 10px;
    width: 100%;
    margin-bottom: 2px;
}

.trapezoid-green {
    border-bottom: 12px solid #5cb85c;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    height: 0px;
    width: 100%;
    opacity: 0.75;

}

.trapezoid-blue {
    border-bottom: 12px solid #5bc0de;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    height: 0px;
    width: 100%;
    opacity: 0.75;
}

.trapezoid-orange {
    border-bottom: 12px solid #f0ad4e;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    height: 0px;
    width: 100%;
    opacity: 0.75;
}
/*;margin-top: -1px*/

.trapezoid-red {
    border-bottom: 12px solid #d9534f;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    height: 0px;
    width: 100%;
    opacity: 0.75;
}


.qcWrapword {
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
    word-break: break-all;
    white-space: normal;
}

.qcDisplayInline {
    display: inline-block;;
}


.qcDisplayUpRight {
    display:block;

    width:100px;
    font-size:15px;
    line-height:20px;
    text-align:center;
    padding:5px;
    border:5px solid #4d6af9;
    border-radius: 0;
    background-color: #3f51b5;
    margin: 15px;
    color: #c6aef9;
}

.qcDisplayUpRight:hover, qcDisplayUpRight:focus {

    border:5px solid #99a9ff;
    background-color: #6473f9;
    color: #2c3992;
}


.qcDisplayUpRightInfo {
    display:block;

    width:80px;
    font-size:11px;
    line-height:15px;
    text-align:center;
    padding:0 5px 0 5px;
    border:3px solid #4d6af9;
    border-radius: 0;
    background-color: #3f51b5;
    margin: 0px 15px 0px 15px;
    color: #c6aef9;
}

.qcDisplayUpRightInfo:hover, qcDisplayUpRightInfo:focus {

    border:3px solid #99a9ff;
    background-color: #6473f9;
    color: #2c3992;
}

.qcEmBig40 {
    /*position: absolute;*/
    font: bold 40px Arial;
    color: #FFF;
    /*margin: 14px 0 0 -68px;*/
    margin: auto;
}

.qcEmBig35 {
    /*position: absolute;*/
    font: bold 35px Arial;
    color: #FFF;
    /*margin: 14px 0 0 -68px;*/
    margin: auto;
}

.qcEmBig30 {
    /*position: absolute;*/
    font: bold 30px Arial;
    color: #FFF;
    /*margin: 14px 0 0 -68px;*/
    margin: auto;
}

/*###################################*/
.ppBg {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2982dc+20,0eb43b+100&1+20,0.96+100 */
    background: -moz-linear-gradient(-45deg,  rgba(41,130,220,1) 20%, rgba(14,180,59,0.96) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  rgba(41,130,220,1) 20%,rgba(14,180,59,0.96) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  rgba(41,130,220,1) 20%,rgba(14,180,59,0.96) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2982dc', endColorstr='#f50eb43b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    /*-webkit-animation: glowbg 5s ease-in-out infinite;*/

    /*-webkit-animation:  glowbg 800ms ease-out infinite alternate ;*/

    /*-moz-animation: glowbg 800ms ease-out infinite alternate ;*/
    /*-o-animation: glowbg 800ms ease-out infinite alternate ;*/
    /*animation: glowbg 800ms ease-out infinite alternate ;*/


    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EA5C54 ', endColorstr='#bb6dec', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */

}

webdesigntuts-workshop input:focus {
    -webkit-animation: glow 800ms ease-out infinite alternate;
    animation: glow 800ms ease-out infinite alternate;
    background: #222922;
    background: -webkit-linear-gradient(#333933, #222922);
    background: linear-gradient(#333933, #222922);
    border-color: #393;
    box-shadow: 0 0 5px rgba(0, 255, 0, .2), inset 0 0 5px rgba(0, 255, 0, .1), 0 2px 0 #000;
    color: #efe;
    outline: none;
}

.webdesigntuts-workshop button:hover,
.webdesigntuts-workshop button:focus {
    background: #292929;
    background: -webkit-linear-gradient(#393939, #292929);
    background: linear-gradient(#393939, #292929);
    color: #5f5;
    outline: none;
}

.webdesigntuts-workshop button:active {
    background: #292929;
    background: -webkit-linear-gradient(#393939, #292929);
    background: linear-gradient(#393939, #292929);
    box-shadow: 0 1px 0 #000, inset 1px 0 1px #222;
    top: 1px;
}

.glowEffect {
    width: auto;
    height: auto;
    animation: glow 0.6s infinite alternate;
}


@-webkit-keyframes glow {
    0% {
        border-color: #4f7b99;
        box-shadow: 0 0 5px rgba(7, 175, 255, 0.2), inset 0 0 5px rgba(7, 240, 255, 0.1), 0 1px 0 #404040;
    }
    100% {
        border-color: #4ff8ff;
        box-shadow: 0 0 20px rgba(5, 252, 255, 0.6), inset 0 0 10px rgba(42, 247, 255, 0.4), 0 1px 0 #c9c9c9;
    }
}
@keyframes glow {
    0% {
        border-color: #4f7b99;
        box-shadow: 0 0 5px rgba(7, 175, 255, 0.2), inset 0 0 5px rgba(7, 240, 255, 0.1), 0 1px 0 #404040;
    }
    100% {
        /*border-color: #4ff8ff;*/
        box-shadow: 0 0 20px rgba(5, 252, 255, 0.6), inset 0 0 10px rgba(42, 247, 255, 0.4), 0 1px 0 #c9c9c9;
    }
}


@-webkit-keyframes glowbg {
    0%  {
        /*border-color: #4f7b99;*/
        /*box-shadow: 0 0 5px rgba(7, 175, 255, 0.2), inset 0 0 5px rgba(7, 240, 255, 0.1), 0 1px 0 #404040;*/
        background: linear-gradient(135deg, #2982dc 20%, #ec0f73 100%);
        transition: width 2s;
    }
    100% {
        /*border-color: #4ff8ff;*/
        /*box-shadow: 0 0 20px rgba(5, 252, 255, 0.6), inset 0 0 10px rgba(42, 247, 255, 0.4), 0 1px 0 #c9c9c9;*/
        transition: width 10s;
        background: linear-gradient(135deg, #2982dc 20%, rgba(14, 180, 59, 0.96) 100%);


    }

}

@keyframes glowbg {
    0%, 10%, 20% {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2982dc+20,fc0f77+100&1+20,0.99+100 */
        background: -moz-linear-gradient(-45deg, rgba(41, 130, 220, 1) 20%, rgba(252, 15, 119, 0.99) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, rgba(41, 130, 220, 1) 20%, rgba(252, 15, 119, 0.99) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, rgba(41, 130, 220, 1) 20%, rgba(252, 15, 119, 0.99) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2982dc', endColorstr='#fcfc0f77', GradientType=1); /* IE6-9 fallback on horizontal gradient */

    }

    30%, 100% {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2982dc+20,0eb43b+100&1+20,0.96+100 */
        background: -moz-linear-gradient(-45deg, rgba(41, 130, 220, 1) 20%, rgba(14, 180, 59, 0.96) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg, rgba(41, 130, 220, 1) 20%, rgba(14, 180, 59, 0.96) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg, rgba(41, 130, 220, 1) 20%, rgba(14, 180, 59, 0.96) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2982dc', endColorstr='#f50eb43b', GradientType=1); /* IE6-9 fallback on horizontal gradient */

    }
}


.minWidth50px {
    width: 50px;
}

.minWidth100px {
    width: 100px;
}

.minWidth150px {
    width: 150px;
}



.qc-bg-table-red {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a90329+0,8f0222+24,6d0019+53 */
    background: #a90329; /* Old browsers */
    background: -moz-linear-gradient(left, #a90329 0%, #8f0222 24%, #6d0019 53%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #a90329 0%,#8f0222 24%,#6d0019 53%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #a90329 0%,#8f0222 24%,#6d0019 53%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=1 ); /* IE6-9 */

    height: 2px;
    /*width: 100%;*/
    padding: 0px;!important;
    margin: 0px;
}
.qc-bg-table-red-dark {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#300004+1,a90329+21,8f0222+35,6d0019+53,6d0019+89,3f0001+100 */
    background: #300004; /* Old browsers */
    background: -moz-linear-gradient(left,  #300004 1%, #a90329 21%, #8f0222 35%, #6d0019 53%, #6d0019 89%, #3f0001 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #300004 1%,#a90329 21%,#8f0222 35%,#6d0019 53%,#6d0019 89%,#3f0001 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #300004 1%,#a90329 21%,#8f0222 35%,#6d0019 53%,#6d0019 89%,#3f0001 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#300004', endColorstr='#3f0001',GradientType=1 ); /* IE6-9 */


    border-left: 0px solid black;
    border-right: 0px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    height: auto;
    /*width: 100%;*/
    padding: 0px;!important;
    margin: 0px;

}

.qc-bg-table-green-dark-btn {
     /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#003008+1,03a906+21,029004+35,006e02+53,006e02+89,00400f+100 */
     background: #003008; /* Old browsers */
     background: -moz-linear-gradient(left,  #003008 1%, #03a906 21%, #029004 35%, #006e02 53%, #006e02 89%, #00400f 100%); /* FF3.6-15 */
     background: -webkit-linear-gradient(left,  #003008 1%,#03a906 21%,#029004 35%,#006e02 53%,#006e02 89%,#00400f 100%); /* Chrome10-25,Safari5.1-6 */
     background: linear-gradient(to right,  #003008 1%,#03a906 21%,#029004 35%,#006e02 53%,#006e02 89%,#00400f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003008', endColorstr='#00400f',GradientType=1 ); /* IE6-9 */

border: 1px solid black;

    /*width: 100%;*/
    padding: 0px;!important;
    margin: 0px;
}

.qc-bg-table-yellolw-dark-btn {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5d6200+1,d0bb02+21,b8a602+35,9a8b00+53,9a8b00+89,657200+100 */
    background: #5d6200; /* Old browsers */
    background: -moz-linear-gradient(left,  #5d6200 1%, #d0bb02 21%, #b8a602 35%, #9a8b00 53%, #9a8b00 89%, #657200 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #5d6200 1%,#d0bb02 21%,#b8a602 35%,#9a8b00 53%,#9a8b00 89%,#657200 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #5d6200 1%,#d0bb02 21%,#b8a602 35%,#9a8b00 53%,#9a8b00 89%,#657200 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5d6200', endColorstr='#657200',GradientType=1 ); /* IE6-9 */


border: 2px solid black;

    /*width: 100%;*/
    padding: 0px;!important;
    margin: 0px;
}

.qc-bg-table-blue-light-centered {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#005c9e+1,0097ce+40,0097ce+60,0059ac+100&0.5+0,0.5+100 */
    background: -moz-linear-gradient(left,  rgba(0,92,158,0.5) 0%, rgba(0,92,158,0.5) 1%, rgba(0,151,206,0.5) 40%, rgba(0,151,206,0.5) 60%, rgba(0,89,172,0.5) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(0,92,158,0.5) 0%,rgba(0,92,158,0.5) 1%,rgba(0,151,206,0.5) 40%,rgba(0,151,206,0.5) 60%,rgba(0,89,172,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(0,92,158,0.5) 0%,rgba(0,92,158,0.5) 1%,rgba(0,151,206,0.5) 40%,rgba(0,151,206,0.5) 60%,rgba(0,89,172,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80005c9e', endColorstr='#800059ac',GradientType=1 ); /* IE6-9 */


border-bottom: 2px solid #00c0ff;
border-left: 1px solid #0070a6;
border-right: 1px solid #0070a6;
border-top: 1px solid #0070a6;

    width: 100%;
    padding: 0px;!important;
    margin: 0px;
}
.qc-bg-table-blue-light-btn {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#005c9e+1,03b9fb+21,02abe8+35,0097ce+53,0097ce+89,0059ac+100 */
    background: #005c9e; /* Old browsers */
    background: -moz-linear-gradient(left,  #005c9e 1%, #03b9fb 21%, #02abe8 35%, #0097ce 53%, #0097ce 89%, #0059ac 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #005c9e 1%,#03b9fb 21%,#02abe8 35%,#0097ce 53%,#0097ce 89%,#0059ac 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #005c9e 1%,#03b9fb 21%,#02abe8 35%,#0097ce 53%,#0097ce 89%,#0059ac 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005c9e', endColorstr='#0059ac',GradientType=1 ); /* IE6-9 */


border: 2px solid black;

    width: 100%;
    padding: 0px;!important;
    margin: 0px;
}


.qc-bg-table-green-light-centered-btnbtn {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#008709+0,11ce00+10,11ce00+90,008709+100&0.5+0,0.5+100 */
    background: -moz-linear-gradient(left,  rgba(0,135,9,0.5) 0%, rgba(17,206,0,0.5) 10%, rgba(17,206,0,0.5) 90%, rgba(0,135,9,0.5) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(0,135,9,0.5) 0%,rgba(17,206,0,0.5) 10%,rgba(17,206,0,0.5) 90%,rgba(0,135,9,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(0,135,9,0.5) 0%,rgba(17,206,0,0.5) 10%,rgba(17,206,0,0.5) 90%,rgba(0,135,9,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80008709', endColorstr='#80008709',GradientType=1 ); /* IE6-9 */



    border-bottom: 2px solid #11ee00;
    border-left: 3px solid #00710b;
    border-right: 3px solid #00710b;
    border-top: 1px solid #00850b;



    width: 100%;
    //padding: 0px;!important;
    margin: 0px;
}

.bgAddSize {
    font-size: 0.9em;
    padding: 3px 5px 3px 5px;

}

.table > tbody > tr > td,
.table > tbody > tr > th,

.table > tfoot > tr > td,
.table > tfoot > tr > th,

.table > thead > tr > td,
.table > thead > tr > th{

}


.table > thead > tr > th {
    font-size: 1.2em;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#005c9e+1,0059ac+100&0.5+0,0.5+100 */
    background: -moz-linear-gradient(left,  rgba(0,92,158,0.5) 0%, rgba(0,92,158,0.5) 1%, rgba(0,89,172,0.5) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(0,92,158,0.5) 0%,rgba(0,92,158,0.5) 1%,rgba(0,89,172,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(0,92,158,0.5) 0%,rgba(0,92,158,0.5) 1%,rgba(0,89,172,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80005c9e', endColorstr='#800059ac',GradientType=1 ); /* IE6-9 */

}

.table.shedule > tbody > tr > td {
    vertical-align: middle;
    border-top: 1px solid #1c1e22;
    border-left: 0px solid #1c1e22!important;
    border-right: 0px solid #1c1e22!important;
background-color: rgba(42, 46, 53, 0.32);


    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005c9e', endColorstr='#0059ac',GradientType=1 ); /* IE6-9 */
}

.qc-play-on-stream {
    background-color: #cecb2d;
    color: black;
    font-size: 10px;
    margin-top: 5px;
    padding: 5px;
    border: 1px solid #f0ff00;
}

.qc-play-on-stream:hover, qc-play-on-stream:focus {
    color: black;
    background-color: greenyellow;

}

.qc-play-on-stream-gray {
    /*background-color: #0f1013;*/
    /*color: #2a2e35;*/
    /*font-size: 10px;*/
    /*margin-top: 5px;*/
    /*padding: 5px;*/
    border-bottom: 3px solid #fff702;
}

.qc-play-on-stream-gray:hover, qc-play-on-stream-gray:focus {
    color: #eaef3a;
    /*background-color: greenyellow;*/

}

.qc-display-gold{
    color: rgba(228, 149, 0, 0.83);
}

.qc-ready-box {
    width: 10px;
    height: 10px;
    float: left;
    background-color: greenyellow;
    padding: 5px;
    margin: 5px 15px 5px 15px;
}

.qc-fbg-lightblue {
    color: #00aeef;
}

.qc-fbg-lightgreen {
    color: #27ef36;
}

.qc-fbg-red-bg {
    background-color: #d9534f;
    color: #ffd4c7;
}


/*.qc-fbg-padding {*/
    /*!*margin-bottom: 15px;*!*/
    /*padding: 10px;*/
    /*position: relative;*/
    /*top: 15px;*/
    /*left: -50px;*/
    /*width: 100%;*/

    /*height: 0;*/
    /*border-left: 0px solid transparent;*/
    /*border-right: 40px solid transparent;*/
    /*border-bottom: 25px solid #F34A53;*/

    /*-webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);*/
    /*clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);*/

    /*width: 0; height: 0; border-bottom: 100px solid red; border-right: 100px solid transparent;*/
/*}*/

.qc-rectangle-red {
    background-color: rgba(243, 74, 83, 0.7);
    padding: 10px 20px 10px 200px;
    /*margin-bottom: 20px;*/
    position: relative;
    padding: 10px;
    height: 25px;
    top: 15px;
    left: -50px;
    width: 100%;
}
.qc-rectangle-red p {
    color: white;
    /*text-transform: uppercase;*/
    margin-top: -10px;
    font-size: 16px;
    position: relative;
}
.qc-rectangle-red:before {
    content: '';
    width: 0;
    height: 0;
    /*border-top: 80px solid rgba(3, 78, 136, 0.7);*/
    /*border-left: 80px solid transparent;*/
    position: absolute;
    top: 100%;
    right: 0%;



    border-left: 10px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 25px solid #F34A53;

    margin-top: -25px;

}

.qc-rectangle-orange {
    background-color: rgba(240, 173, 78, 0.7);
    padding: 10px 20px 10px 200px;
    /*margin-bottom: 20px;*/
    position: relative;
    padding: 10px;
    height: 25px;
    top: 15px;
    left: -50px;
    width: 100%;
}
.qc-rectangle-orange p {
    color: white;
    /*text-transform: uppercase;*/
    margin-top: -10px;
    font-size: 16px;
    position: relative;
}
.qc-rectangle-orange:before {
    content: '';
    width: 0;
    height: 0;
    /*border-top: 80px solid rgba(3, 78, 136, 0.7);*/
    /*border-left: 80px solid transparent;*/
    position: absolute;
    top: 100%;
    right: 0%;



    border-left: 10px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 25px solid #f0ad4e;

    margin-top: -25px;

}


.qc-rectangle-blue {
    background-color: rgba(91, 192, 222, 0.7);
    padding: 10px 20px 10px 200px;
    /*margin-bottom: 20px;*/
    position: relative;
    padding: 10px;
    height: 25px;
    top: 15px;
    left: -50px;
    width: 100%;
}
.qc-rectangle-blue p {
    color: white;
    /*text-transform: uppercase;*/
    margin-top: -10px;
    font-size: 16px;
    position: relative;
}
.qc-rectangle-blue:before {
    content: '';
    width: 0;
    height: 0;
    /*border-top: 80px solid rgba(3, 78, 136, 0.7);*/
    /*border-left: 80px solid transparent;*/
    position: absolute;
    top: 100%;
    right: 0%;



    border-left: 10px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 25px solid #5bc0de;

    margin-top: -25px;

}
.qc-rectangle-green {
    background-color: rgba(92, 184, 92, 0.7);
    padding: 10px 20px 10px 200px;
    /*margin-bottom: 20px;*/
    position: relative;
    padding: 10px;
    height: 25px;
    top: 15px;
    left: -50px;
    width: 100%;
}
.qc-rectangle-green p {
    color: white;
    /*text-transform: uppercase;*/
    margin-top: -10px;
    font-size: 16px;
    position: relative;
}
.qc-rectangle-green:before {
    content: '';
    width: 0;
    height: 0;
    /*border-top: 80px solid rgba(3, 78, 136, 0.7);*/
    /*border-left: 80px solid transparent;*/
    position: absolute;
    top: 100%;
    right: 0%;

    border-left: 10px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 25px solid #5cb85c;

    margin-top: -25px;

}


.panel, .panel-body, .panel-default, .panel-heading {
    background-color: transparent !important;
    border: none !important;
}

.medals-bg {
    background-color: rgba(0,0,0,0.10);
    padding: 2px 10px;
}

tr {
    color: white;
}


select{
    /*background: yellow !important;*/
    color: #60ff47;
    text-shadow:0 1px 0 rgba(0,0,0,0.4);
}
option:not(:checked) {
    background-color: #0b0a0b;
    color: #2bff11;
}