{% extends 'base.html.twig' %}

{% block title %} Home {% endblock %}

{% block body %}

    <div class="row">
        <div class="col-xs-6 col-md-6">
            <section>
                {{ include('user/profile.edit.html.twig') }}
            </section>
        </div>
        <div class="col-xs-6 col-md-6">
            <h2>Passengers Manage List</h2>
            <section>
                <a href="{{ path('user_dashboard_PassengerAdd') }}">
                    <button class="btn btn-info">
                        ADD PASSENGER
                    </button>
                </a>
            </section>
            <section>
                {% if passengers is not null %}
                    <h4>My current available passengers list</h4>

                    <table id="tablePreview" class="table table-striped table-hover table-sm table-borderless">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Name</th>
                            <th>Surname</th>
                            <th>Passport ID</th>
                            <th>Action</th>
                            <th>Disabled</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for pa in passengers %}
                            <tr>
                                <th scope="row">{{ loop.index }}</th>
                                <td>{{ pa.pTitle }} </td>
                                <td>{{ pa.pName }}</td>
                                <td>{{ pa.pSurname }}</td>
                                <td>{{ pa.passport }}</td>
                                <td><a class="btn btn-danger btn-xs" href="
                                {{ path('user_dahboard_disableUser', {'userId':pa.id}) }}">DS</a> -
                                    <a class="btn btn-success btn-xs" href="
                                {{ path('user_dahboard_enableUser', {'userId':pa.id}) }}">EN</a>
                                </td>
                                <td>
                                    {% if pa.isActive == false %}
                                        <p>yes</p>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </section>
        </div>

        <div class="col-xs-6 col-md-6">
            <h3>Create trip <span style="font-size: 0.75em">(for all users in webservice)</span></h3>
            <section>
                <a href="{{ path('user_dashboard_TripAdd') }}">
                    <button class="btn btn-info">
                        Create Trip
                    </button>
                </a>
            </section>
            <section>
                {% if trips is not null %}
                    <h4>Available Journeys</h4>
                    <table id="tablePreview" class="table table-striped table-hover table-sm table-borderless">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Trip</th>
                            <th>From</th>
                            <th>To</th>
                            <th>Begin ID</th>
                            <th>Arrival</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for tr in trips %}
                            <tr>
                                <th scope="row">{{ loop.index }}</th>
                                <td>{{ tr.trName }} </td>
                                <td>{{ tr.trLocationFrom }}</td>
                                <td>{{ tr.trLocationTo }}</td>
                                <td>{{ tr.trDeparture|date('M/d/Y - h:i') }}</td>
                                <td>{{ tr.trArrival|date('M/d/Y - h:i') }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </section>
        </div>


    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>Journey List </h3>
            <div class="col-md-1">
                <div class="col-md-12">
                    <a class="btn btn-info pull-left" href="{{ path('user_dshboard_JourneyAdd') }}">Add Trip</a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12">
            <section>
                {% if userTrips is not null %}
                    <h4>Available Journeys</h4>
                    <table id="tablePreview" class="table table-striped table-hover table-sm table-borderless">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Trip</th>
                            <th>Travel</th>
                            <th>Departure</th>
                            <th>Arrival</th>
                            <th>Passengers</th>
                            <th>Options</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for utr in userTrips %}
                            <tr>
                                <th scope="row">{{ loop.index }}</th>
                                <td>{{ utr.utTripsLink.trName }} </td>
                                <td>
                                    <span class="glyphicon glyphicon-plane"></span>
                                    {{ utr.utTripsLink.trLocationFrom }}
                                    <span class="glyphicon glyphicon-arrow-right"></span>
                                    <span style="margin-left: 18px;">{{ utr.utTripsLink.trLocationTo }}</span>

                                </td>
                                <td>{{ utr.utTripsLink.trDeparture|date('M/d/Y h:i') }}</td>
                                <td>{{ utr.utTripsLink.trArrival|date('M/d/Y h:i') }}</td>
                                <td>

                                    {% for a in utr.utTripPassengersList %}
                                        {{ a.tpUserPassengersLink.pName }} {{ a.tpUserPassengersLink.pSurname }},
                                    {% endfor %}
                                </td>
                                <td>
                                    <a class="btn btn-success btn-xs "
                                       href="{{ path('user_dashboard_userPassengersAdd', { 'idTrip': utr.id}) }}">
                                        <span class="glyphicon glyphicon-user"></span> Add</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </section>
        </div>
    </div>

{% endblock %}