{% extends 'base.html.twig' %}

{% block title %} Profile | {{ app.user.username }} {% endblock %}

{% block body %}
    <h1>Profile : </h1>
    <p>Username : {{ app.user.username }}</p>
    <p>Email : {{ app.user.email }}</p>
    <p>Registered on : {{ app.user.createdAt|date('Y-m-d - H:m') }}</p>
    <p>Last login : {{ app.user.lastLogin|date('Y-m-d - H:m') }}</p>

    <a class="btn btn-success" href="{{ path('user_dashboard_Index') }}">Back</a>
{% endblock %}