{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            {{ form_start(formTrip) }}

            {{ form_widget(formTrip) }}

<button type="submit" class="btn btn-success" formnovalidate>Add</button>
            <a class="btn btn-info pull-right" href="{{ path('user_dashboard_Index') }}">Back</a>
            {{ form_end(formTrip) }}
        </div>
    </div>

{% endblock %}
